<%= form_with(model: saved_car, local: true) do |form| %>
  <% if saved_car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(saved_car.errors.count, "error") %> prohibited this saved_car from being saved:</h2>

      <ul>
        <% saved_car.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
